*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../img/Fundo\ Site\ -\ Atualizado.png');
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    
}

html{
    margin: 0px;
}

a{
    text-decoration: none;
    color:white !important;
}

#descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#navbar{
     
    background-image: url(../img/BARRA\ CABEÇALHO.png);
}


#navbar-redes{
    margin-left: auto;
    margin-right: 10px; 
    
}
#btn-wpp{
    position: absolute;
    right: 20px;
    bottom: 0;
}

.depoimento{
    background-image: url('../img/Retângulo\ 6.png');

}

.selo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 140px;
    width: 400px;
    float: left;

}
.bio{
    font-size: 22px;
    margin-right: 25px;

}

.prcsdr-prm, .aba{
    float: left;
}

.aba, .link-aba{
    display: block;
    padding: 0 2em;
    line-height: 3em;
}

